body.month{
	background: white;
	font-family: arial black; 
	color: white;
}

th.monthHeader {
	background-color: #800000;
	font-size: 36px;
	margin-right: 50%;
	text-align: center;
}

tr.weekdays {
	background-color: black;
	text-align: center;
}

tr.week  {
	background-color: #A0A0A0 ;
	color: white;
	font-weight: bold;
	height: 100px;
	font-size: 36px;
	padding: 0px;	
}

td.days {
	border-width: 20px;
	border-radius:20% 0%;
	border: 5px solid white;
	
}

td.daysDiffMonth {
	border-width: 20px;
	border-radius:20% 0%;
	border: 5px solid white;
	color: #C8C8C8 ;
}

td.days:hover { 
	background-color: #A0A9A9 ;
	transform: translateY(-4px);
}

body.yearView{
	background: white;
	font-family: arial black; 
	color: white;
}

th.yearView {
	background-color: #800000;
	font-size: 24px;
	margin-right: 50%;
}

td.yearViewWeekday {
	background-color: black;
	text-align: center;
	font-size: 12px;
}

tr.yearViewweek  {
	background-color: #A0A0A0 ;
	color: white;
	font-weight: bold;	
	padding: 0px;	
}

td.yearViewweek  {
	background-color: white ;
	color: white;
	font-weight: bold;	
	padding: 0px;	
}

td.yearViewDaysDiffMonth {
	border-width: 5px;
	border-radius:20% 0%;
	border: 1px solid white;
	color: #C8C8C8 ;
}

td.yearViewdays {
	border-width: 5px;
	border-radius:20% 0%;
	border: 1px solid white;
	
}

button.week{
	font-weight: bold;
	font-size: 18px;
	border: none;
	color: white;
	background-color: black;
	text-align: center;
	width: 15%;
	margin-left: 5%;
	position: absolute;
	top: 5%;
	left: 13%;
	padding: 0px;
	
}

button.month{
	font-weight: bold;
	font-size: 18px;
	border: none; 
	color: white;
	background-color: black;
	text-align: center;
	width: 15%;
	margin-left: 5%;
	position: absolute;
	top: 5%;
	left: 38%;
	padding: 0px;
	
}
button.year{
	font-weight: bold;
	font-size: 18px;
	border: none;
	color: white;
	background-color: black;
	text-align: center;
	width: 15%;
	margin-left: 5%;
	position: absolute;
	top: 5%;
	left: 63%;
	padding: 0px;
}

textarea{
	font-weight: bold;
	font-size: 18px;
	color: white;
	background-color: black;
	text-align: center;
	
}

select{
	font-weight: bold;
	font-size: 24px;
	border-bottom: 3px solid red;
	border-left: 3px solid red;
	color: white;
	background-color: black;
	text-align: center;
}


td.daysDiffMonth {
	border-width: 20px;
	border-radius:20% 0%;
	border: 5px solid white;
	color: #C8C8C8 ;
}

.buttonNextMonth {
  background-color: #800000;
  border: 5px solid white;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  width: 75%;
  cursor: pointer;
  
}

.buttonNextMonth span {
  cursor: pointer;
  display: inline-block;
  transition: 1.0s;
}

.buttonNextMonth span:after {
  transition: 0.5s;
}

.buttonNextMonth:hover span {
  padding-left: 75%;
}

.buttonPreviousMonth {
  display: inline-block;
  background-color: #800000;
  border: 5px solid white;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  width: 75%;
  cursor: pointer;
  
}

.buttonPreviousMonth span {
  cursor: pointer;
  display: inline-block;
  transition: 1.0s;
}

.buttonPreviousMonth span:after {
  transition: 0.5s;
}

.buttonPreviousMonth:hover span {
  padding-right: 66%;
  
}

.buttonNoMonth {
  display: inline-block;
  background-color: #C8C8C8 ;
  border: 5px solid white;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  width: 75%;
  cursor: pointer;
  
}

.buttonNoMonth span {
  cursor: pointer;
  display: inline-block;
  transition: 1.0s;
}

.buttonNoMonth span:after {
  transition: 0.5s;
}

.buttonNoMonth:hover span {
  
  
}


.rightButton {
	text-align: center;
}

.leftButton {
	text-align: center;
}

.buttonNoMonth {
  display: inline-block;
  background-color: #C8C8C8 ;
  border: 5px solid white;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  width: 75%;
  cursor: pointer;
  
}

.buttonNoMonth span {
  cursor: pointer;
  display: inline-block;
  transition: 1.0s;
}

.buttonNoMonth span:after {
  transition: 0.5s;
}

.buttonNoMonth:hover span {
  
  
}




td.days:hover { 
	background-color: #A0A9A9 ;
	transform: translateY(-4px);
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* scrolable event view in the modal */
div.scroll {
    margin: auto;
    background-color: #800000;
    width: 80%;
    /*height: 200px;*/
    overflow: scroll;
}